{% extends 'msgapp/base.html' %}
{% load static %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body_block %}
<div class="jumbotron">
    <h1>Send a new Telegram message</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success">
            Submit
            </button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
